<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   
      
          <div class="header">
              <h1>ASTRONOMY PHOTO OF THE DAY</h1>
              
              <br />
              <p>
                    Every day NASA releases an astronomy photo taken that same day, always with different information or curiosity.
              </p>
              <p>
                Try it!
          </p>
              <br />
              <h3>
                Choose a date
                <!--Inicial-->
                :
              </h3>
              <div>
                <input type="date" [(ngModel)]="dataInicial" />
              </div>
              <button class="btn btn-white mt-1" type="submit" (click)="getData()"><strong>Search</strong></button> <br /><br />
          </div>

          <div class="container mt-5">

          <h1>Title : {{ arrivedApod.title }}</h1>

          <h5>
            Number of Asteroids that had their closest approach to Earth on this day: {{ asteroidResultCopy.element_count }}
          </h5>
        

        <div class="col-1"></div>
        <!--*ngIf="!isApodFound"  Nenhum resultado encontrado para o dia selecionado-->
        <div class="col-12 myCard mb-4">
          <div class="card" *ngIf="isApodFound">
            <img
              [src]="arrivedApod.url"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="card-body">
              <h5 class="card-title">Date: {{ arrivedApod.date }}</h5>
              <h5>Explanation:</h5>
              <p>{{ arrivedApod.explanation }}</p>
              <p>
                <strong>Copyright of this photo:</strong>
                {{ arrivedApod.copyright }}
              </p>
            </div>
          </div>
        </div>
      
    </div>
    <app-footer></app-footer>
  </body>
</html>
